# Introduction to the Scripting Programming Languages and Their Applications (SPJA) Course

In this Jupyter Notebook, we'll cover basics of Python programming language as is coverd during the first lecture.

As it's usual in any programming language tutorial, we'll start with the famous 'Hello, World!'

In [15]:
print('Hello, World!')

Hello, World!

### Let's play with numbers

In [16]:
1 + 2

3

In [3]:
3 * 4

12

In [4]:
3 / 4

0.75

In [5]:
3 % 4

3

In [6]:
3 // 4

0

In [7]:
2 ** 3

8

Big integets are for free :-)

In [11]:
1234567898765432123456789098765432456787654323456789878909876543432345678987654323456789876543231234567 \
* \
1234567876543245676789878989089098765432345678976543212345678987654345678

1524157869227296232586103878620885370592631183396989512763506883943081346741239028441332953091425973418270460159528674514565994178959355909517622796067319546096882122520651426

In [12]:
a = 1

In [13]:
type(a)

int

In [14]:
a = float(a)

In [15]:
type(a)

float

In [16]:
b = 1.5

In [17]:
a = int(b)

We can also simply convert string containing a numer to an integer or float datatype.

In [19]:
c = int('123')

In [20]:
type(c)

int

In [21]:
d = float('123.456')

In [22]:
type(d)

float

### Strings

We can create strings in two ways: (i) single line strings, (ii) multiline strings. Each string can be enclosed using " or ' specifier.

#### Single Line Strings

In [23]:
s = '<a href="www.google.com">Google</a>'

In [24]:
s

'<a href="www.google.com">Google</a>'

In [17]:
s = "<a href=\"www.google.com\">Google</a>"

In [18]:
s

'<a href="www.google.com">Google</a>'

As you can see, if you use " and want do describe, for example, HTML then you need to escape inner " characters. However, if you use ' character to enclose strings, you can embed HTML very easily without escaping.

Let's use len function fo get length of the string

In [19]:
len(s)

35

Get a substring using slicing

In [24]:
s = 'Hello, World!'

In [25]:
s[5:10]

', Wor'

In [26]:
s[:5]

'Hello'

We can split the string

In [27]:
s.split(' ')

['Hello,', 'World!']

### Lists

In [1]:
l = [1, 2, 3.14, 'Hello']

Get length of the list

In [2]:
len(l)

4

Append new items

In [3]:
l.append(-10)

In [4]:
len(l)

5

Modify an element

In [10]:
l

[1, 2, 3.14, 'Hello', -10]

In [11]:
l[0] = 6

In [12]:
l

[6, 2, 3.14, 'Hello', -10]

Slicing

In [5]:
l[1:3]

[2, 3.14]

In [6]:
l[:3]

[1, 2, 3.14]

In [7]:
l[1:]

[2, 3.14, 'Hello', -10]

In [8]:
l[4:2:-1]

[-10, 'Hello']

### Tuples

Tuples are immutable

In [9]:
t = (1, 2, 3.14)

In [13]:
len(t)

3

We can't modify a tuple

In [20]:
t[0] = 6

TypeError: 'tuple' object does not support item assignment

We obtained and exception that says we cannot assign a new value to the tuple

We can get a new list from tuple

In [21]:
list(t)

[1, 2, 3.14]

Slicing may be used in the same way as in lists or strings

In [22]:
t[1:3]

(2, 3.14)

### For Loop

For loops are essentialy for each loops.

In [28]:
for item in l:
    print(item)

6
2
3.14
Hello
-10

In [30]:
for item in [1, 2, 3, 4]:
    print(item**2)

1
4
9
16

### While Loop

In [31]:
n = 10
while n > 0:
    print(n)
    n -= 1

10
9
8
7
6
5
4
3
2
1

### Functions

In [32]:
def f(a, b):
    return a + b

In [33]:
f(1, 2)

3

In [34]:
f([1, 2], [3, 4, 5])

[1, 2, 3, 4, 5]

We cannot add incompatible types

In [35]:
f(1, 'My string')

TypeError: unsupported operand type(s) for +: 'int' and 'str'